

.spoiler{
	margin:20px; 
	margin-top:5px; 
	/*border: 1px solid #3bbfe7;*/
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

pre {
    font-family: verdana;
}
/*DELETE EVERYTHING BELOW*/

/***************************************************************************
 
    TOYHOUSE SPOILER BOXES
 
    This is the CSS for spoiler boxes. Please see the demo for details!
    You can edit the section below to style the spoiler boxes.
    The required HTML to make a spoiler box on a page is here: 
    http://loader.8bitbirdsong.net/text/view/17
	Feel free to use/incorporate any part of this
	in a separate stylesheet, credit optional.
	
	Last updated 2/10/15
 
    http://toyhou.se/aleator
 
***************************************************************************/

/*
	Basic styling. Feel free to edit this part
*/
.spoiler-box 
{ 
	padding: 5px; 
	border: 1px dotted #ddd; 
	margin-top: 5px;
	margin-bottom: 5px;
}
.spoiler-close 
{ 
	background-color: #ddd; 
	padding: 0px 5px; 
	float: right; 
}
.spoiler-content 
{ 
	width: 100%; 
	padding: 5px;
}
.spoiler-title 
{ 
	background-color: #777; 
	color: #fff; 
	width: 100%; 
	display: block; 
	padding: 5px; 
	position: relative; 
}
/*
	Hides the spoiler button and content.
	Don't touch this!
*/
.spoiler-close,
.spoiler-content 
{ 
	display: none; 
}
/* 
	Makes the spoiler content/close button show 
	when the box is clicked. Don't touch this!
 */
.spoiler-box:focus .spoiler-content 
{ 
	display: block; 
}
.spoiler-box:focus .spoiler-close 
{ 
	display: block; 
}